img {
    float: right
}

h1 {
    font-size: 96px;
}

body {
    margin: 150px;
}

input {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 0 4px 0 4px;
 }

.bloque {
    display: block;
}

.saltoLinea {
    white-space: pre-line;
}