h1 {
    font-size: 72px;
}

body {
    margin: 150px;
}

video {
    margin: 50px;
}

img{
    border-radius: 100%;
    float: inline-end;
} 

input {
    border-radius: 10px;
    padding: 0 4px 0 4px;
 }

.bloque {
    display: block;
}

.saltoLinea {
    white-space: pre-line;
}

button {
    margin: 10px;
}
  